@media (min-width: 992px) {
  .all-cart-items {
    margin-bottom: 3%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .all-cart-items {
    margin-bottom: 3%;
  }
}

@media (min-width: 400px) and (max-width: 787px) {
  .all-cart-items {
    margin-bottom: 3%;
  }
}
