.card {
  height: 800px;
}

.card-header {
  text-align: center;
  height: 5%;
  background-color: darkred;
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
}
.name {
  background-color: darkred;
  color: #fff;
  font-weight: bold;
}

.card-body {
  height: 95%;
}

.card-image {
  height: 50%;
  border-bottom: 1px solid red;
}

.card-image > img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.card-description {
  height: 20%;
}

.card-price {
  height: 5%;
}

.card-category {
  height: 5%;
}

.card-createdAt {
  height: 5%;
}

.card-quantity-and-buttons {
  height: 20%;
}
/* .card-quantity {
  height: 5%;
}

.card-buttons {
  height: 15%;
} */

/* ==================================================== */

/* UpcomingFeature.js */
.upcoming-features-div {
  margin-top: 15px;
  margin-bottom: 25px;
  height: 40vh;
  border: 1px solid red;
  text-align: center;
  background: linear-gradient(rgba(20, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Golden Retriever.jpg");
}

.upcoming-features-items {
  height: 100%;
  background-color: black;
  opacity: 0.7;
  color: white;
}
.upcoming-features-headline {
  padding-top: 2%;
  padding-bottom: 1%;
  animation-name: upcoming-features-headline-animation;
  animation-duration: 3s;
  /* animation-delay: 3s;
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); */
}
@keyframes upcoming-features-headline-animation {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.upcoming-features-list {
  /* hmm */
}
.upcoming-features-list > ul {
  display: inline-block;
  text-align: left;
  font-size: 1.2em;
}

.upcoming-features-list > p {
  font-size: 1.2em;
  position: relative;
  text-align: center;
  right: 3%;
}

/* FOOTER.js */

.footer-main {
  font-family: lato sans-serif;
  background-image: url("../images/black-trangle-bg.jpg");

  height: 50vh;
  /* opacity: 0.5; */
}

/* .footer-bg {
  height: 100%;
  background-color: black;
  opacity: 0.5;
  color: #fff;
} */

.footer-header {
  font-size: 2.5rem;
  font-family: "Monoton", cursive;
  color: white;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 2px;
}
.footer-flex {
  display: flex;
  /* height: 70vh; */
  /* background-color: black; */
  margin-top: 10px;
  justify-content: center;
}

.box1 {
  color: white;
  flex: 1;
  padding-left: 20px;
}
.box1 > ul {
  /* All ul that has a class of box1  */
  padding-left: 20px;
}

.box1 > li {
  /* All ul that has a class of box1  */
  padding-left: 20px;
  text-decoration: underline;
  color: #fff;
}

.links {
  text-decoration: underline;
  color: #fff;
}

.box1 > h4 {
  padding-bottom: 10px;
}

.box1 p {
  font-size: 18px;
}
.box2 {
  /* font-family: "Courier New", Courier, monospace; */
  color: white;
  flex: 1;
  /* border: 2px red solid; */
  position: relative;
  /* padding: 22px; */
  text-align: center;
}

.box-2-search-text {
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
  /* padding-top: 75px; */
  display: inline-block;
  text-align: left;
}

.footer-search {
  position: absolute;
  top: 30%;
  height: 10%;
  width: 100%;
  border: 2px white solid;
}

.box2 h4 {
  color: white;
  /* font-size: 28px; */
}

.box3 {
  color: white;
  flex: 1;
  /* border: 2px red solid; */
  padding: 22px;
  text-align: center;
}
.box3 ul {
  list-style-type: none;
}

.box3 a {
  font-size: 20px;
}
.icons {
  padding-right: 10px;
}
.social-media-icons {
  padding-top: 10px;
}

.big-Thank-You {
  background-image: url("../images/black-trangle-bg.jpg");
  color: #fff;
  text-align: center;

  /* padding-top: 60px; */
}

.copyright-text {
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

/* /////////////////////////////// */
/* Product.js */
.view-product-ad-card {
  margin-top: 3.3%;
  height: 75vh;
  background-image: url("../images/dog-food-ad_3_224x668.jpg");
  animation-name: view-product-ad-card-animation;
  animation-duration: 2s;
}
@keyframes view-product-ad-card-animation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.view-product-single-product-card {
  /* padding-top: 2.7%; */
}
